.Cart{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%,-48%);    
    height: 100vh;
    width: 30vw;
    border: solid 1px black;    
    border-radius: 16px;
    backdrop-filter: brightness(20%);    
    padding: 1.2rem;
    color: white;
    z-index: 1;
}
.head-cart{
    background-color: #1c70ef;
    border-radius: 16px 16px 0 0;
    height: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-cart-info{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-left: 1rem;
}
.close-cart{
    position: relative;
    bottom: 18px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 2px white;
    background-color:#1c70ef ;   
    width: 32px;
    height: 32px;
    font-size: 20px;
    
}
.cart-Products .Product-Item{
    width: 100%;
}
.close-cart:hover{
    border-color: #1c70ef;
    background-color:white ;  
    color: #1c70ef;
}
.cart-Products .Product-Item  h4{
    display: none;
}
.cart-Products .Product-Item .button-add-cart{display: none;}

@media only screen and (max-width: 430px) {
    .Cart{
        top: 50%;
        left: 50%;
        width: 90vw;
        transform: translate(-46%,-48%);    
    }  
}

