
header{
    height: 18vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1c70ef;
}
.logo-title{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-title h1{
    color: white;
    font-size: 4rem;    
    font-family: 'Lobster', cursive;  
    cursor: pointer;  
}
.title-and-Search{
    width: 90%;
    justify-content:space-around;
    display: flex;
    align-items: center;

}
.logo-img{
    width: 50px;
    height: 50px;
}
.search-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    ;
}
.cart-container img{
    cursor: pointer;           
}
@media only screen and (max-width: 430px) {
    header{
        height: 18vh;
    }
    .title-and-Search{
        width: 96%;
        height: 80%;             
       flex-direction: column;
    }
    .logo-title{
        width: 100%;
        justify-content: center;
    }
    .logo-title h1{        
        font-size: 3.6rem;        
    }
    .search-container{
        height: 100%
    }
}