.Home{    
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Home img{

    margin-top:2rem ;
    width: 80%;
    height: 80%;

}
.Home img:hover{
    transform: scale(1.04);
    transition: 0.8s;
    cursor: pointer;   
}
.cart-counter{
    background-color:white;
    color: #1c70ef;
    font-size: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 12px;
    left: 30px;
}
@media only screen and (max-width: 430px) {
    .Home{
        padding: 1rem  1rem   ;
    }
    .Home img{
        
        margin-top: 2rem;
        width: 80%;
        height: 30%;
    
    }
}

