.Product-Item{
    width: 300px;
    height: auto;
    padding: 10px;
    border: solid 1px  #E8E2DC;
    border-radius: 16px;
    box-shadow: 0px 10px 17px -14px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}
.Product-Item:hover{
    transform: scale(1.04);
    transition: 0.4s;
    cursor: pointer;
}
.data-product{
    height: 14rem;
}


.title-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.title-img h2{
    margin-left: 1.8rem;
    display: flex;
}
.price{
    display:flex;
    justify-content: space-around;
    height: 2rem;
}
.price div{
    text-align: center;
}
.button-add-cart {    
    display: flex;
    justify-content: center;
    height: 3rem;
}
.button-add-cart button{
    border: none;
    width: 12rem;
    font-weight: bolder;
    border-radius: 16px;
}
.button-add-cart button:hover{
    background-color:white ;
    border: solid 2px  #E8E2DC;    
}




