.ProductInfo{   
    margin: 2rem auto;
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-around;    
    border: solid 1px#E8E2DC;
    border-radius: 16px;
    box-shadow: 0px 10px 17px -14px rgba(0,0,0,0.75);
}
.ProductInfo .img{
    text-align: center;
    width: 64%;
}
.ProductInfo  img{
    height: 70%;
    padding: 2rem;
    border-radius: 30px;
}
.info{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}

@media only screen and (max-width: 430px) {
    .ProductInfo{
        width: 80%;
    }
    .ProductInfo  img{
       width: 100px;
       height: 100px;
    }   
}