form{
    display: flex;
    align-items: center;
}
.input-buton{
    background-image:url('../assets/search.u.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: white;
    width: 22px;
    height: 28px;
    border: none;
}

.input-buton:hover{    
   cursor: pointer;    
}
.input-text{
    font-size:18px;
    font-weight: 100;
    height: 28px;
    width: 420px;
    padding-left: 30px;    
    color:grey;
    
    border: none;
}
@media only screen and (max-width: 430px) {
    .input-text{        
        font-size: 1.6rem;
        width: 200px;
    }
}
